footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 1em;
}
.footerZone {
  height: 199px;
}
.footerNav {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 1em;
}
.footerPictures {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.socialNetwork {
  display: flex;
  margin-top: 0.8em;
  justify-content: space-around;
}
.logoSocial {
  width: 6em;
  height: 4em;
}
.insta {
  background-image: url(../../Medias/socialNetwork/insta.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.tikTok {
  background-image: url(../../Medias/socialNetwork/tiktok.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.facebook {
  background-image: url(../../Medias/socialNetwork/facebook-logo-0.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.footerTitle {
  color: #119da4;
  margin-left: 2em;
}
.footerList {
  margin-left: 4em;
  padding: 0;
  list-style-type: none;
  color: 119da4;
}
.footerList a {
  text-decoration: none;
  color: #119da4;
}
.footerContact {
  border-right: 2px solid #119da4;
  border-left: 2px solid #119da4;
}
.footerPages {
  border-left: 2px solid #119da4;
}
.copyright {
  display: flex;
  justify-content: center;
  background-color: #119da4;
  padding: 1em 0;
  width: 100%;
}
