.galleryServices {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  box-shadow: inset 3px 20px 20px -13px #119da4;
  padding: 1% 4%;
  margin-bottom: 5%;
}
.services {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  margin-top: 2%;
  margin-bottom: 2em;
}
.titleServices {
  padding: 5%;
  background-color: #119da48a;
  color: wheat;
  text-align: center;
}
.servicesLink{
  text-decoration: none;
}
.imageService {
  background-position: center;
  width: 100%;
  max-height: 520px;
  min-height: 341px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#imageSBain {
  background-image: url(../../Medias/pics_popCard/italianShower4.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  box-shadow: -20px 15px 11px 8px #119da4;
}
#ImageSBain:hover .titleServices{
  background-color: #119da4;
  transform: scale(1.2);
  border-radius: 5px;
}
#imageChauffage {
  background-image: url(../../Medias/pics_popCard/radiator-ge8ecf57c0_1920.jpg);
  background-size: cover;
  border-radius: 20px;
  box-shadow: 20px 15px 11px 8px #119da4;
}
#imageChauffage:hover .titleServices{
  background-color: #119da4;
  transform: scale(1.2);
  border-radius: 5px;
}  
#imagePlomberie {
  background-image: url(../../Medias/pics_popCard/pipes.jpg);
  background-size: cover;
  border-radius: 20px;
  box-shadow: -20px 15px 11px 8px #119da4;
}
#imagePlomberie:hover .titleServices{
  background-color: #119da4;
  transform: scale(1.2);
  border-radius: 5px;
}
  
/* ANIMATION SERVICES */
#salleDeBain {
  animation: 0.9s;
  animation-fill-mode: both;
  animation-name: slideLeft;
}
#chauffage {
  animation: 0.9s;
  animation-delay: 0.7s;
  animation-fill-mode: both;
  animation-name: slideRight;
}
#plomberie {
  animation: 0.9s;
  animation-delay: 1.4s;
  animation-fill-mode: both;
  animation-name: slideLeft;
}
@keyframes slideLeft {
  from {
    transform: translateX(100%);
    opacity: 0%;
  }
  to {
    transform: translateX(0%);
    opacity: 100%;
  }
}
@keyframes slideRight {
  from {
    transform: translateX(-100%);
    opacity: 0%;
  }
  to {
    transform: translateX(0%);
    opacity: 100%;
  }
}
