.galleryServices {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  box-shadow: inset 3px 20px 20px -13px #119da4;
  padding: 1% 4%;
  margin-bottom: 5%;
}

.readMoreBtn{
  color: #0984e3;
  cursor: pointer;
}

.readMoreTxt{
  display: none;
}

.readMoreTxt--show{
  display: inline;
}
.services {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  margin-top: 2%;
  margin-bottom: 2em;
}
.titleServices {
  /* MODIF POLICE ET TAILLE SI CONSERVER */
  padding: 5%;
  background-color: #119da4;
  color: wheat;
  width: max-content;
}
.imageService {
  background-position: center;
width: 335px;}
#imageSBain {
  background-image: url(../../Medias/pics_popCard/italianShower4.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20% 0% 0% 20%;
  box-shadow: -20px 15px 11px 8px #119da4;
}
#imageChauffage {
  background-image: url(../../Medias/ServicePicture.jpg);
  background-size: cover;
  border-radius: 0% 20% 20% 0%;
  box-shadow: 20px 15px 11px 8px #119da4;
}
#imagePlomberie {
  background-image: url(../../Medias/pics_popCard/pipes.jpg);
  background-size: cover;
  border-radius: 20% 0% 0% 20%;
  box-shadow: -20px 15px 11px 8px #119da4;
}
#imageClim {
  background-image: url(../../Medias/ServicePicture.jpg);
  background-size: cover;
  border-radius: 0% 20% 20% 0%;
  box-shadow: 20px 15px 11px 8px #119da4;
}
.texte {
  width: 40%;
}
/* ANIMATION SERVICES */
#salleDeBain {
  animation: 0.9s;
  animation-fill-mode: both;
  animation-name: slideLeft;
}
#chauffage {
  animation: 0.9s;
  animation-delay: 0.7s;
  animation-fill-mode: both;
  animation-name: slideRight;
}
#plomberie {
  animation: 0.9s;
  animation-delay: 1.4s;
  animation-fill-mode: both;
  animation-name: slideLeft;
}
#climatisation {
  animation: 0.9s;
  animation-delay: 2.1s;
  animation-fill-mode: both;
  animation-name: slideRight;
}
@keyframes slideLeft {
  from {
    transform: translateX(100%);
    opacity: 0%;
  }
  to {
    transform: translateX(0%);
    opacity: 100%;
  }
}
@keyframes slideRight {
  from {
    transform: translateX(-100%);
    opacity: 0%;
  }
  to {
    transform: translateX(0%);
    opacity: 100%;
  }
}
