header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
}
.navigationHeader {
  width: 48em;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
