@font-face {
  font-family: "roboto";
  src: url(../assets/Roboto/Roboto-Regular.ttf);
}
/* PARTIE TOP HEADER */
* {
  font-family: "roboto", sans-serif;
}
.topHeader {
  display: flex;
  padding: 0 1em;
  background-color: #119da4;
  height: 2.6em;
  align-items: center;
  font-size: large;
}
.info {
  background-color: #119da4;
  height: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1em 0.5em;
}
.info i {
  margin-left: 10px;
  margin-right: 10px;
}
.topHeader i {
  color: white;
  font-size: larger;
}
.topHeader a {
  color: white;
  text-decoration: none;
}
.socialLink {
  background-color: #119da4;
  width: 3.8em;
  height: 2em;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.1em 0.5em;
}
.logo img {
  width: 19em;
}
#logoHeader {
  min-width: 225px;
}
/* PARTIE NAVIGATION */
.headerNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
}
.navigationHeader {
  width: 48em;
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.headerNavLink {
  text-decoration: none;
  color: #119da4;
  font-size: larger;
}
.actives {
  border-bottom: 2px solid #119da4;
  font-weight: 700;
}
#iconsHeaderResponcives {
  cursor: pointer;
  display: none;
}
/* PARTIE RESPONSIVE */
@media (max-width: 768px) {
  #imgHeader {
    width: 25em;
  }
  .navigationHeader {
    justify-content: flex-end;
  }
  #iconsHeaderResponcives {
    transform: scale(1.7);
    display: block;
    background-color: #119da4;
    border-radius: 20%;
    padding: 1px;
  }
  #iconsHeaderResponcives i {
    color: white;
  }
  .nav {
    position: fixed;
    right: -100%;
    top: 5%;
    flex-direction: column;
    background-color: #fafafa;
    color: #119da4;
    text-align: center;
    transition: 0.25s;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #18c5ce;
    z-index: 1;
    transform: translateX(2px);
    line-height: 35px;
  }
  li.headerNavLi {
    width: 100%;
    padding: 0;
  }
  li.headerNavLi:hover,
  li.headerNavLi:hover > * {
    background-color: #119da4;
    color: #fafafa;
    transition: ease-in-out 100ms;
  }
  .nav li a {
    height: 100%;
    color: #119da4;
  }
  .showMenu {
    right: 2px;
    top: 18%;
    position: absolute;
  }

  .headerNavLi {
    padding: 3px 0;
  }
  .headerNavLink {
    color: white;
  }
}

@media (max-width: 550px) {
  .topHeader {
    display: inline-block;
    width: 100%;
    height: auto;
  }
  .info {
    justify-content: center;
    height: 1.5em;
  }
  .socialLink {
    display: flex;
    justify-content: center;
    width: auto;
    height: 1.5em;
  }
  .socialLink a {
    margin: 0 10px;
  }
}
