.background {
  background-color: #119da4;
  background-image: linear-gradient(
      rgba(0, 130, 130, 0.7),
      rgba(0, 130, 130, 0.7)
    ),
    url('../Medias/pics_popCard/city-Lyon.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
}
