.sliderZone {
  min-height: 10vh;
  display: grid;
  place-items: center;
  margin-bottom: 2em;
}
.slider {
  height: 150px;
  margin: auto;
  position: absolute;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.slideTrack {
  display: flex;
  width: 3000px;
  animation: scroll 50s linear infinite;
}
.slideTrack:hover {
  animation-play-state: paused;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 8));
  }
}
.slide2 {
  height: 130px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}
img {
  width: 100%;
  transition: transform 1s;
}
img:hover {
  transform: translateZ(20px);
}
.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: '';
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}
.slider::before {
  left: 0;
  top: 0;
}
.slider::after {
  right: 0;
  top: 0%;
  transform: rotateZ(180deg);
}
