<footer>
  <div class="footerNav">
    <div class="footerPictures">
      <div class="logo">
        <img src="../../Medias/logoRHON'EAU.jpg" alt="logo Rhôn'eau" />
      </div>
      <div class="socialNetwork">
        <div class="logoSocial insta"></div>
        <div class="logoSocial tikTok"></div>
        <div class="logoSocial facebook"></div>
      </div>
    </div>
    <div class="footerContact">
      <h3 class="footerTitle">Rhôn'eau</h3>
      <ul class="footerList">
        <li>01.23.45.67.89</li>
        <li>rhoneau@outlook.com</li>
        <li>261 Rue Garibaldi<br />69003 LYON</li>
      </ul>
    </div>
    <div class="footerServices">
      <h3 class="footerTitle">Services</h3>
      <ul class="footerList">
        <li><a href="*">Service</a></li>
        <li><a href="*">Service</a></li>
        <li><a href="*">Service</a></li>
        <li><a href="*">Service</a></li>
      </ul>
    </div>
    <div class="footerPages">
      <h3 class="footerTitle">Pages</h3>
      <ul class="footerList">
        <li><a href="*">Accueil</a></li>
        <li><a href="*">Services</a></li>
        <li><a href="*">Nos réalisations</a></li>
        <li><a href="*">Contact</a></li>
        <li><a href="*">Devis</a></li>
      </ul>
    </div>
  </div>
  <div class="copyright">Copyright</div>
</footer>
