<head>
  <link href="./css/galleryAccueil.css" rel="stylesheet" />
  <script
    src="https://kit.fontawesome.com/9468c33ba3.js"
    crossorigin="anonymous"
  ></script>
</head>
<div class="galleryServices">
  <div class="services" id="salleDeBain">
    <div class="imageService" id="imageSBain">
      <p class="titleServices">Salle de bain</p>
    </div>
    <div class="texte" id="texteSBain">
      <h3>Service de Salle de Bain :</h3>
      <p>
        Nous sommes spécialisés dans la création et la rénovation de salles de
        bain personnalisées et fonctionnelles. Notre équipe de professionnels
        qualifiés travaille en étroite collaboration avec vous pour concevoir et
        réaliser la salle de bain de vos rêves. Nous mettons l'accent sur
        l'attention aux détails, la qualité des matériaux et le respect des
        délais afin de vous offrir un résultat exceptionnel.
      </p>
      <i
        class="fa-solid fa-arrow-up"
        onclick="window.location.href = '#topHeaderZone'"
        style="display: flex; justify-content: center"
      ></i>
    </div>
  </div>
  <div class="services" id="chauffage">
    <div class="texte" id="texteChauffage">
      <h3>Service de Chauffage</h3>
      <p>
        Nous offrons des services complets de chauffage pour assurer votre
        confort tout au long de l'année. Que ce soit pour l'installation, la
        réparation ou l'entretien de systèmes de chauffage, nos experts sont là
        pour vous aider. Nous travaillons avec une large gamme de systèmes de
        chauffage, y compris les chaudières, les radiateurs, les planchers
        chauffants et bien plus encore.s
      </p>
      <i
        class="fa-solid fa-arrow-up"
        onclick="window.location.href = '#topHeaderZone'"
        style="display: flex; justify-content: center"
      ></i>
    </div>
    <div class="imageService" id="imageChauffage">
      <p class="titleServices">Chauffage</p>
    </div>
  </div>
  <div class="services" id="plomberie">
    <div class="imageService" id="imagePlomberie">
      <p class="titleServices">Plomberie</p>
    </div>
    <div class="texte" id="textePlomberie">
      <h3>Service de Plomberie :</h3>
      <p>
        Notre entreprise de plomberie est spécialisée dans la fourniture de
        services de plomberie de haute qualité pour les résidences et les
        entreprises. Nos plombiers expérimentés et qualifiés sont prêts à
        répondre à tous vos besoins en matière de plomberie, que ce soit pour
        des réparations, des installations ou des entretiens.
      </p>
      <i
        class="fa-solid fa-arrow-up"
        onclick="window.location.href = '#topHeaderZone'"
        style="display: flex; justify-content: center"
      ></i>
    </div>
  </div>
</div>
