<head>
  <link href="./css/galleryAccueil.css" rel="stylesheet" />
  <script
    src="https://kit.fontawesome.com/9468c33ba3.js"
    crossorigin="anonymous"
  ></script>
</head>
<div class="galleryServices">
  <div class="services" id="salleDeBain">
    <a class="servicesLink" href="services.php#salleDeBain">
      <div class="imageService" id="imageSBain">
        <div class="titleServices">
          <h3>Salle de bain</h3>
          <p>Nous sommes spécialisés dans la création et la rénovation de salles de
            bain personnalisées et fonctionnelles.</p>
        </div>
      </div>  
    </a>
  </div>
  <div class="services" id="chauffage">
    <a class="servicesLink" href="services.php#chauffage">
      <div class="imageService" id="imageChauffage">
        <div class="titleServices">
          <h3>Chauffage</h3>
          <p>Nous offrons des services complets de chauffage pour assurer votre
            confort tout au long de l'année.</p>
        </div>
      </div>
    </a>
  </div>
  <div class="services" id="plomberie">
    <a class="servicesLink"s href="services.php#plomberie">
      <div class="imageService" id="imagePlomberie">
        <div class="titleServices">
          <h3>Plomberie</h3>
          <p>Notre entreprise de plomberie est spécialisée dans la fourniture de
            services de plomberie de haute qualité pour les résidences et les
            entreprises.</p>
        </div>
      </div>
    </a>
  </div>
</div>
