<head>
  <link href="./css/galleryServices.css" rel="stylesheet" />
  <script
    src="https://kit.fontawesome.com/9468c33ba3.js"
    crossorigin="anonymous"
  ></script>
</head>
<div class="galleryServices">
  <div class="services" id="salleDeBain">
    <div class="imageService" id="imageSBain">
      <p class="titleServices">Salle de bain</p>
    </div>
    <div class="texte" id="texteSBain">
      <h3>LOREM</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem sed
        distinctio, ea ipsum, odit quae hic maxime, corrupti iure eaque alias!
        Tempora, consequatur fuga minima ut fugit esse officia saepe. Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Dolorem sed
        distinctio, ea ipsum, odit quae hic maxime, corrupti iure eaque alias!
        Tempora, consequatur fuga minima ut fugit esse officia saepe.
      </p>
      <i
        class="fa-solid fa-arrow-up"
        onclick="window.location.href = '#topHeaderZone'"
        style="display: flex; justify-content: center"
      ></i>
    </div>
  </div>
  <div class="services" id="chauffage">
    <div class="texte" id="texteChauffage">
      <h3>LOREM</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem sed
        distinctio, ea ipsum, odit quae hic maxime, corrupti iure eaque alias!
        Tempora, consequatur fuga minima ut fugit esse officia saepe. Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Dolorem sed
        distinctio, ea ipsum, odit quae hic maxime, corrupti iure eaque alias!
        Tempora, consequatur fuga minima ut fugit esse officia saepe.
      </p>
      <i
        class="fa-solid fa-arrow-up"
        onclick="window.location.href = '#topHeaderZone'"
        style="display: flex; justify-content: center"
      ></i>
    </div>
    <div class="imageService" id="imageChauffage">
      <p class="titleServices">Chauffage</p>
    </div>
  </div>
  <div class="services" id="plomberie">
    <div class="imageService" id="imagePlomberie">
      <p class="titleServices">Plomberie</p>
    </div>
    <div class="texte" id="textePlomberie">
      <h3>LOREM</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem sed
        distinctio, ea ipsum, odit quae hic maxime, corrupti iure eaque alias!
        Tempora, consequatur fuga minima ut fugit esse officia saepe. Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Dolorem sed
        distinctio, ea ipsum, odit quae hic maxime, corrupti iure eaque alias!
        Tempora, consequatur fuga minima ut fugit esse officia saepe.
      </p>
      <i
        class="fa-solid fa-arrow-up"
        onclick="window.location.href = '#topHeaderZone'"
        style="display: flex; justify-content: center"
      ></i>
    </div>
  </div>
  <div class="services" id="climatisation">
    <div class="texte" id="textePlomberie">
      <h3>LOREM</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem sed
        distinctio, ea ipsum, odit quae hic maxime, corrupti iure eaque alias!
        Tempora, consequatur fuga minima ut fugit esse officia saepe. Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Dolorem sed
        distinctio, ea ipsum, odit quae hic maxime, corrupti iure eaque alias!
        Tempora, consequatur fuga minima ut fugit esse officia saepe.
      </p>
      <i
        class="fa-solid fa-arrow-up"
        onclick="window.location.href = '#topHeaderZone'"
        style="display: flex; justify-content: center"
      ></i>
    </div>
    <div class="imageService" id="imageClim">
      <p class="titleServices">Climatisation</p>
    </div>
  </div>
</div>
