<head>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
  />
  <link
    href="https://getbootstrap.com/docs/5.3/assets/css/docs.css"
    rel="stylesheet"
  />
  <script
    src="https://kit.fontawesome.com/9468c33ba3.js"
    crossorigin="anonymous"
  ></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<header>
  <div class="topHeader" id="topHeaderZone">
    <div class="info">
      <i class="fa-solid fa-phone"></i>
      <a href="tel:01-23-45-67-89">01.23.45.67.89</a>
      <i class="fa-regular fa-envelope"></i>
      <a href="mailto:rhoneau@outlook.com">rhoneau@outlook.com</a>
    </div>
    <div class="socialLink">
      <a
        href="https://www.instagram.com/rhoneau_plombier_chauffagiste/"
        target="_blank"
        ><i class="fa-brands fa-instagram"></i
      ></a>
      <a href="https://www.tiktok.com/@rhoneau" target="_blank"
        ><i class="fa-brands fa-tiktok"></i
      ></a>
      <a href="*"><i class="fa-brands fa-facebook"></i></a>
    </div>
  </div>
  <div class="headerNav">
    <div class="logo">
      <img src="../Medias/logoRHON'EAU.jpg" alt="logo Rhôn'Eau" />
    </div>
    <nav class="navigationHeader">
      <ul class="nav">
        <li class="headerNavLi">
          <a class="headerNavLink" aria-current="page" href="index.php"
            >Accueil</a
          >
        </li>
        <li class="headerNavLi">
          <a class="headerNavLink" href="services.php">Services</a>
        </li>
        <li class="headerNavLi">
          <a class="headerNavLink" href="nosRealisations.php"
            >Nos réalisations</a
          >
        </li>
        <li class="headerNavLi">
          <a class="headerNavLink" href="contact.php">Contact</a>
        </li>
        <li class="headerNavLi">
          <a class="headerNavLink" href="devis.php">Devis</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
