<head>
  <link href="./css/introAccueil.css" rel="stylesheet" />
  <script
    src="https://kit.fontawesome.com/9468c33ba3.js"
    crossorigin="anonymous"
  ></script>
</head>
<div id="introAccueil">
  <div id="imageIntro"></div>
  <div id="texteIntro">
    <p>
      Découvrez RHÔN'EAU, votre entreprise de plomberie-chauffage spécialisée en
      salle de bain, plomberie et chauffage, basée sur Lyon. Nous nous engageons
      à fournir un service de qualité supérieure pour nos clients et de tout
      mettre en œuvre pour répondre à vos attentes les plus élevées. Que ce soit
      pour la rénovation complète de votre salle de bain, l'installation de
      systèmes de plomberie modernes ou la maintenance de votre système de
      chauffage, nous sommes là pour vous accompagner à chaque étape du
      processus. Faites confiance à RHÔN'EAU pour tous vos projets de plomberie
      et de chauffage. Contactez-nous dès aujourd'hui pour obtenir un devis
      gratuit et personnalisé.
    </p>
  </div>
</div>
