<div class="container-fluid border" style="background-color: #119da4; color: #f1f1f1;">
    <div class="row">
        <div class="px-5 my-5 fs-6">
            <div class="text-center">
                <h1 class="fs-2 pb-5">
                    Politique de confidentialité
                </h1>
            </div>
            <p>
                Nous accordons une grande importance à la protection de vos données personnelles.</br>
                Cette
                politique de confidentialité vise à vous informer de la manière dont nous collectons,
                utilisons, divulguons et protégeons vos informations personnelles lorsque vous utilisez
                notre site internet.
            </p>
            <h4 class="py-4">Collecte d'informations personnelles :</h4>
            <p>Lorsque vous visitez notre site internet, nous pouvons collecter certaines informations
                personnelles vous concernant, telles que votre nom, votre adresse e-mail, votre numéro
                de téléphone, etc.</br> Ces informations sont collectées de manière volontaire lorsque
                vous
                les fournissez via nos formulaires de contact ou d'inscription.
            </p>
            <h4 class="py-4">
                Utilisation des informations personnelles :
            </h4>
            <p>
                Les informations personnelles que nous collectons sont utilisées dans le but de répondre
                à vos demandes, de vous fournir les services que vous avez sollicités, de personnaliser
                votre expérience sur notre site internet et de vous informer des nouveautés, offres
                spéciales ou événements pertinents.</br> Nous ne vendons, louons ou partageons vos
                informations personnelles avec des tiers à des fins de marketing sans votre consentement
                explicite.
            </p>
            <h4 class="py-4">
                Protection des informations personnelles :
            </h4>
            <p>
                Nous mettons en place des mesures de sécurité appropriées pour protéger vos informations
                personnelles contre tout accès non autorisé, toute divulgation, altération ou
                destruction.</br> Cependant, veuillez noter qu'aucune méthode de transmission ou de
                stockage
                de données n'est totalement sécurisée.</br> Nous ne pouvons donc garantir la sécurité
                absolue
                de vos informations personnelles.
            </p>
            <h4 class="py-4">
                Cookies et technologies similaires :
            </h4>
            <p>
                Notre site internet utilise des cookies et des technologies similaires pour améliorer
                votre expérience utilisateur, analyser les tendances, administrer le site et collecter
                des informations démographiques sur nos utilisateurs.</br> Vous pouvez contrôler
                l'utilisation des cookies via les paramètres de votre navigateur.
            </p>
            <h4 class="py-4">
                Liens vers des sites tiers :
            </h4>
            <p>
                Notre site internet peut contenir des liens vers des sites tiers. Nous ne sommes pas
                responsables des pratiques de confidentialité ou du contenu de ces sites.</br> Nous vous
                encourageons à consulter les politiques de confidentialité de ces sites avant de fournir
                vos informations personnelles.
            </p>
            <h4 class="py-4">
                Conservation des données :
            </h4>
            <p>
                Nous conservons vos informations personnelles aussi longtemps que nécessaire pour
                atteindre les finalités pour lesquelles elles ont été collectées, sauf si la loi l'exige
                autrement.
            </p>
            <h4 class="py-4">
                Vos droits :
            </h4>
            <p>
                Vous avez le droit d'accéder, de rectifier, de mettre à jour ou de supprimer vos
                informations personnelles.</br> Vous pouvez également vous opposer au traitement de vos
                données personnelles ou demander leur portabilité. Pour exercer ces droits, veuillez
                nous contacter à l'adresse indiquée ci-dessous.
                </br></br>
                Nous nous réservons le droit de modifier cette politique de confidentialité à tout
                moment. Les mises à jour seront publiées sur cette page.
                </br></br>
                Pour toute question concernant notre politique de confidentialité, veuillez nous
                contacter à l'adresse suivante : <span class="fs-4 text-white">
                    rhoneau@outlook.com
                </span>
            </p>
            <div class="text-center" id="mentionsLegales">
                <h1 class="fs-2 py-5">
                    Mentions légales du site internet de l'entreprise Rhôn'eau
                </h1>
            </div>
            <ul>
                <li>Capital : XXXXXXX </li>
                <li>Adresse : 261 Rue Garibaldi 69003 LYON </li>
                <li>Adresse électronique : rhoneau@outlook.com </li>
                <li>Téléphone : 01.23.45.67.89 </li>
                <li>N° Registre du Commerce ou Répertoire des métiers : XXXXXXX </li>
                <li>N° Siret de l'établissement : XXXXXXX </li>
                <li>Directeur de rédaction et de publication : Rhôn'eau </li>
            </ul>
            <p>
                Son hébergement est assuré par XXXXXXXXXXXXXX, dans un centre de données européen situé à XXXXXXX en XXXXXXXX.
            </p>
        </div>
    </div>
</div>