<!-- ------------------------- SKILLS -------------------------- -->

<div class="container-fluid background">
  <div class="row d-flex text-center py-5">
    <h1 class="title">
      Vous avez besoin d'un plombier-chauffagiste sur Lyon ?
    </h1>
  </div>
  <div class="row d-flex text-center justify-content-center py-5">
    <div class="col col-12 col-md-6 col-xl-3">
      <div class="cardsSkills">
        <i class="logoSkills fa fa-money-check-alt fa-2xl"></i>
        <h2>Devis gratuit</h2>
        <p class="paragraph py-4 fs-5">
          Chaque projet est unique, et nous nous engageons à évaluer vos besoins
          spécifiques et à vous fournir un devis détaillé et transparent. Vous
          pouvez compter sur notre expertise et notre professionnalisme pour
          vous offrir un service de qualité et des solutions adaptées à votre
          budget.
        </p>
      </div>
    </div>
    <div class="col col-12 col-md-6 col-xl-3">
      <div class="cardsSkills">
        <i class="logoSkills fa-solid fa-comments fa-2xl"></i>
        <h2>Réactivité et disponibilité</h2>
        <p class="paragraph py-4 fs-5">
          Nous comprenons à quel point il est essentiel d'avoir une équipe de
          confiance sur laquelle vous pouvez compter lorsque vous êtes confronté
          à des problèmes de plomberie imprévus.
        </p>
      </div>
    </div>
    <div class="col col-12 col-md-6 col-xl-3">
      <div class="cardsSkills">
        <i class="logoSkills fa fa-check fa-2xl"></i>
        <h2>Matériaux de qualité</h2>
        <p class="paragraph py-4 fs-5">
          Radiateurs, chauffe-eau... Grâce à l'expertise de votre plombier,
          choisissez des équipements performants et durables, 100% adaptés à vos
          besoins et la configuration de votre logement.
        </p>
      </div>
    </div>
    <div class="col col-12 col-md-6 col-xl-3">
      <div class="cardsSkills">
        <i class="logoSkills fa fa-user-check fa-2xl"></i>
        <h2>Services personnalisés</h2>
        <p class="paragraph py-4 fs-5">
          Vous souhaitez être conseillé dans le choix de vos équipements de
          plomberie ? RHÔN'EAU se tient à l'écoute de votre projet et mettra
          tout en œuvre pour vous conseiller efficacement et de manière
          entièrement personnalisée.
        </p>
      </div>
    </div>
  </div>
</div>
