<link href="./css/slider.css" rel="stylesheet" />

<div class="sliderZone">
  <div class="slider">
    <div class="slideTrack">
      <div class="slide" style="margin-left: 200px">
        <img src="../Medias/marques/atlantic.jpg" alt="atlantic" />
      </div>
      <div class="slide">
        <img src="../Medias/marques/de dietrich.jpg" alt="de dietrich" />
      </div>
      <div class="slide">
        <img src="../Medias/marques/delabie.jpg" alt="delabie" />
      </div>
      <div class="slide">
        <img src="../Medias/marques/duravit.jpg" alt="duravit" />
      </div>
      <div class="slide">
        <img src="../Medias/marques/geberit.jpg" alt="geberit" />
      </div>
      <div class="slide">
        <img src="../Medias/marques/hansgrohe.jpg" alt="hansgrohe" />
      </div>
      <div class="slide">
        <img src="../Medias/marques/jacobDelafon.jpg" alt="jacobDelafon" />
      </div>
      <div class="slide">
        <img src="../Medias/marques/kinedo.jpg" alt="kinedo" />
      </div>
      <div class="slide">
        <img src="../Medias/marques/atlantic.jpg" alt="atlantic" />
      </div>
      <div class="slide">
        <img src="../Medias/marques/de dietrich.jpg" alt="de dietrich" />
      </div>
      <div class="slide">
        <img src="../Medias/marques/delabie.jpg" alt="delabie" />
      </div>
      <div class="slide">
        <img src="../Medias/marques/duravit.jpg" alt="duravit" />
      </div>
      <div class="slide">
        <img src="../Medias/marques/geberit.jpg" alt="geberit" />
      </div>
      <div class="slide">
        <img src="../Medias/marques/hansgrohe.jpg" alt="hansgrohe" />
      </div>
      <div class="slide">
        <img src="../Medias/marques/jacobDelafon.jpg" alt="jacobDelafon" />
      </div>
      <div class="slide">
        <img src="../Medias/marques/kinedo.jpg" alt="kinedo" />
      </div>
    </div>
  </div>
</div>
